.propos{
     display: flex;
     flex-direction: column;
     background-image: url('../images/propo3.avif');
     background-repeat: no-repeat;
     object-fit: cover;
     background-size: cover;
     background-attachment:fixed;
     
}
